body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.25em;
}

h1 {
  text-decoration: underline;
}
